/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
  }
@font-face {
        font-family:"Brut Grotesque";
        src: url(BrutGrotesque/__MACOSX/BrutGrotesque\ 2/);
}  
h2,h3,p{
        font-family: "Brut Grotesque";
}  
h2{
        font-size: 200px;
        color: white;
        background-color: black;
        text-align: center;
} 
h3{
        font-size: 14px;
        color: white;
        background-color: black;
}
p{
        font-size: 18px;
}
img{
        display: block;
        width: 30%;
        border: 0.5px solid black;
}

/*::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}*/

div{
  box-sizing:border-box;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  width:1000px;
  height:1000px;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform: origin 0;
}
.horizontal-scroll-wrapper > div{
  display:block;
  transform:rotate(90deg);
  transform: origin 0;
}

.squares > div{
        width:895px;
        height:972px;
}
