/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
@font-face {
        font-family:"Brut Grotesque";
        src: url(BrutGrotesque/__MACOSX/BrutGrotesque\ 2/);
}  
h2,h3,p{
        font-family: "Brut Grotesque";
        padding-left: 10px;
        padding-right: 15px;
}  
h2{
        font-size: 200px;
        color: white;
        background-color: black;
        text-align: center;
} 
.des{
        color: white;
        background-color: black;
        font-style: bold italic;
        
}
h3{
        font-size: 14px;

}
p{
        font-size: 18px;
        font-style: medium;
}
img{
        display: block;
        width: 50%;
        border: 0.5px solid black;
}

.flexgrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
}


/*::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}*/
/*
div{
  box-sizing:border-box;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  left: 100px;;
  width:1000px;
  height:1000px;
  margin: 50px;
  overflow-y:auto;
  overflow-x: hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin: center;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding: 5px;
  transform:rotate(90deg);
  transform-origin: center;
}

.squares{
        padding: 50px 0 0 0;
}

.squares > div{
        width:895px;
        height:972px;
}
*/
