/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
                                /* Inserimento dei font */  
@font-face {
        font-family:"brutgrotesque";
        src: url(brutgrotesque/BrutGrotesque-Medium.otf);
        font-weight: medium;
} 
@font-face {
        font-family:"brutgrotesque" ;
        src: url(brutgrotesque/BrutGrotesque-BoldItalic.otf);
        font-weight: bold italic;
}
@font-face {
        font-family:"brutgrotesque" ;
        src: url(brutgrotesque/BrutGrotesque-Bold.otf);
        font-weight: bold;
}

h2,h3,p{
        padding-left: 15px;
}
        
h2{
        font-family: "brutgrotesque";
        font-weight: bold;
        font-size: 200px;
        color: white;
        background-color: black;
        text-align: center;
} 
.des{
        color: white;
        background-color: black;
        font-family: "brutgrotesque";
        font-weight: bold italic;
        
}
h3{
        font-size: 14px;
        font-family: "brutgrotesque";
        font-weight: bold;

}
p{
        font-size: 18px;
        font-family: "brutgrotesque";
        font-weight: medium;      
}

.rif{
        font-family: "brutgrotesque";
        font-weight: bold;
        font-size: 14px;
}
                                /* Fine inscerimento font*/

img{
        display: block;
        width: 30%;
        height: auto;
        border: 0.5px solid black;
}
.img_2{
        width: 60%;
        display: block;
        height: auto

}
.flexgrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
}

.column {
        float: left;
        }
 .left {
        width: 20%;
        }
            
.middle {
        width: 30%;
        }
                
.right {
        width: 50%;
        }
            
.row:after {
        content: "";
        display: table;
        clear: both;
        }        